<html>
<head>
<script src="/soap/ajax/9.0/connection.js" type="text/javascript"></script>
{!INCLUDE($SControl.ZoomInfo_Main_Params)}
{!INCLUDE($SControl.ZoomInfo_Account_Params)}
<script type="text/javascript">

var sZIPageUrl = sZICompanyUrl;
var sZIParams = sZIAccountParams + "&View=false&Type=Account";
location.replace(sZIPageUrl + sZIParams);

</script>
</head>
<body></body>
</html>