<html>
<head>
<script src="/soap/ajax/9.0/connection.js" type="text/javascript"></script>
{!INCLUDE($SControl.ZoomInfo_Main_Params)}
{!INCLUDE($SControl.ZoomInfo_Lead_Params)}
<script type="text/javascript">

var sQueryID = "{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE($Request.QueryID, '<', '%3C') ,'>','%3E') ,'"','%22'),"'","%27"), ";","%3B") }"; 
var sZIPersonID = "{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(Lead.ZI_Person2__c, '<', '%3C') ,'>','%3E') ,'"','%22'),"'","%27"), ";","%3B") }";
var sForceSelect = "{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE($Request.ForceSelect, '<', '%3C') ,'>','%3E') ,'"','%22'),"'","%27"), ";","%3B") }";
var sZICompanyID = "{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(Lead.ZI_Company2__c, '<', '%3C') ,'>','%3E') ,'"','%22'),"'","%27"), ";","%3B") }";

var sZIPageUrl = sZIPersonUrl;
var sZIParams =  sZILeadParams + "&QueryID=" + sQueryID + "&View=true&Type=Lead";
var sZIParamsForceSelect =  sZILeadParamsForceSelect + "&ZICompany=" + sZICompanyID + "&View=true&Type=Lead";

//Create Tab Parameters QueryString
var sSFTabUrlParam =  escape("https://" + location.host + 
"{!URLFOR( $Action.Lead.View_Person_Profile,Lead.Id,[retURL=""],false)}");
var sTabParams =   "&ZoomTab=true&SFTab=" + sSFTabUrlParam;

//Redirect based on status
var sRedirectUrl = sZIPageUrl + sZIParamsForceSelect + sTabParams;
if (sForceSelect != "true" && sZIPersonID != "")
    sRedirectUrl = sZIPageUrl + sZIParams + sTabParams;

location.replace(sRedirectUrl);     

</script>
</head>
<body></body>
</html>